config.php
.idea/.name
.idea/deployment.xml
.idea/encodings.xml
.idea/gpaket.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml


/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/SymfonyRequirements.php
/build/
/vendor/
/bin/
/composer.phar
/web/app_dev.php
/web/bundles/
/web/config.php