<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Telegram Bot <@gpaket_bot></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/landing-page.css" rel="stylesheet">
    <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    <!--[if lt IE 9]>
    <script src="/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="display: none;">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {#<li>#}
                    {#<a href="/stats/">Stats</a>#}
                {#</li>#}
            </ul>
        </div>
    </div>
</nav>
<a name="about"></a>

<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>@GPaket_BOT</h1>
                    <h3>For Telegram. From Russia. With Love.</h3>
                    <hr class="intro-divider">
                    <h4>Our stats</h4>
                    <div>
                        <span>Messages — <span>{{ counts.messages|number_format(0, '.', '`') }}</span> | Groups — <span>{{ counts.groups|number_format(0, '.', '`') }}</span> | Users — <span>{{ counts.users|number_format(0, '.', '`') }}</span></span>
                    </div>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com/JIoBsTeP"
                               target="_blank"
                               class="btn btn-default btn-lg"><i
                                        class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/Panuka/gpaket"
                               target="_blank"
                               class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span
                                        class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://storebot.me/bot/gpaket_bot"
                               target="_blank"
                               class="btn btn-default btn-lg"><i class="fa fa-star fa-fw"></i> <span
                                        class="network-name">Storebot</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="copyright text-muted small">Copyright &copy; <a href="https://panuka.me">Panuka.me</a>
                    2015 - 2016</p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34440075 = new Ya.Metrika({ id:34440075, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/34440075" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>