<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear/>
                <rule name="RewriteRequestsToPublic" stopProcessing="true">
                    <match url="^(.*)$"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Rewrite" url="/app_dev.php/{R:0}"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>